.home{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(80,225,236);
    background: linear-gradient(90deg, rgba(80,225,236,1) 0%, rgba(0,49,61,1) 100%, rgba(2,0,36,1) 100%);
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Open+Sans:wght@500&family=Press+Start+2P&display=swap');

.robo-friends{
    font-family: 'Monoton', cursive;
    font-size: 5rem;
    color: #279ba3;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff, 0 0 1000px #fff;
}

.input-search{
    width: 20%;
    height: 70px;
    border-radius: 10px;
    border: none;
    background: #b5dcdf;
    padding: 0 20px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

.robot-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
    border-top: 5px solid black;
    overflow-y: scroll;
    background: rgb(80,225,236);
    background: linear-gradient(90deg, rgba(80,225,236,1) 0%, rgba(0,49,61,1) 100%, rgba(2,0,36,1) 100%);
    margin-top: 10px;
}